<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Hello!</title>
    </head>

    <body>
        <h1>Hello World!</h1><br>
        Owner of web is: {{ owner }}<br>
        Ip addres of this server is: {{ ansible_default_ipv4.address }}
       
    </body>

</html>
